*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
header{
    background-color: black;
    height: 60px;
    color: white;
}
.container{
    width: 100%;
    height: 100%;
    margin: auto;
}
.container_header{
    display: flex;
    align-items: center;
}
.logo_container{
  height: 50px;
}
.logo{
    width: 120px;
   height: 50px;
   background: url(./Image/amazon.png); 
   background-repeat: no-repeat;
}
.dot_in{
    position: relative;
    left:100px;
    top: 6px;
    font-size: 1rem;
    font-family: sans-serif;
}
.border_white{
    border: 1px solid transparent;
    padding: 5px;
}
.border_white:hover{
    border: 1px solid white;
}
.address_container{
    margin-left: 15px;
}
.address_container p{
    margin: 0;
}
.icon_address{
    display: flex;
    align-items: center;
}
.icon{
    font-size: 0.9rem;
    padding-left: 22px;
}
.icon1{
    font-weight: bold;
    font-family: sans-serif;
    font-size: 13px;
}
.icon_location{
    margin-right: 3px;
}
.search_container{
    margin-left: 15px;
    width: 550px;
    display: flex;
    height: 40px;
    justify-content: space-between;
    border-radius: 3px;
    overflow: hidden;
}
.search_select{
    width: 50px;
    border: none;
    background-color: lightgrey;
}
.search_input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    padding: 3px;
    font-size: 1rem;
}
.search_icon{
    width: 40px;
    background-color: rgb(255,190,76);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    color: black;
}
.search_container:hover{
    outline: 4px solid orange;
}
.image_language{
    width: 20px;
}
.image_language img{
    width: 100%;
}
.language_container{
    margin-left: 10px;
}
.language_container p{
    font-size: 0.8rem;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.login_container{
  margin-left: 15px;
}
.login_container p{
    margin: 0;
}
.account{
    font-weight: 900;
    font-size: 1.1rem;
}

.return_container{
    width: 90px;
    font-size: 0.9rem;
    margin-left: 15px;
}
.orders{
    font-weight: 900;
    font-size: 1rem;
    display: flex;
    width: 70px;
}
.return_container p{
    margin: 0;
}

.cart_container{
    font-size: 1.5rem;
    display: flex;
    margin-left: 15px;
}
.cart_container i{
    font-size: 1.5rem;
}

.container_nav ul{
    height: 30px;
    list-style-type: none;
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: #0f1111e5;
    color: white;
    margin: 0;
    padding-left: 15px;
    font-family: sans-serif;
    font-size: 0.9rem;
}
a{
    text-decoration: none;
    color: white;
}
.nav .sidebar_navigation_bar ul{
    position: relative;   
}
.nav .sidebar_navigation_bar ul{
    list-style-type: none;
    background-color: white;
    width: 300px;
}
.sidebar_navigation_bar{
  position: absolute;
  display: none;
  height: 100%;
  width: 100%;
  z-index: 999;
  margin-top: -15px;
  
}
.nav:has(.container_navigation:hover) .sidebar_navigation_bar{
  display: block;
} 
.image_container{
   position: relative;
   overflow: hidden;
}
.image_list{
  display: flex;
  overflow: hidden;
}
.image_item{
  min-width: 100%;
  animation: slide 50s infinite 1s;
}
@keyframes slide {
    0%{transform: translateX(0%);}
    100%{transform:translateX(-500%);}   
}
.image_item img{
    width: 100%;
    height: 100%;
    
}
.image_button_container{
  position: absolute;
  top: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.slide_button{
     border:1px solid transparent;
     padding: 100px 10px ;
     font-size: 50px;
     font-weight: 300;
     background-color: transparent;
     color: black;
}
.slide_button:focus{
    border-color: seagreen;
    box-shadow: -2px -2px 2px white,2px 2px 2px white;
    margin: 2px;

}
.main{
    position: relative;
    top:-300px;
}
.card_product_container{
    padding: 40px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.card_product{
    display: flex;
    background-color: white;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 300px;
    box-shadow: 10px 10px 10px rgba(20, 19, 19, 0.479),-10px -10px 10px rgba(255,255,255,0.1);
}
.card_product h2{
    margin: 0;
    padding: 5px;
}
.card_product p{
    margin: 0;
}

.card_product_list{
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* flex-wrap: wrap; */
    justify-content: space-evenly;
}
.card_item img{
    width: 120px;
    height: 100px;
    object-fit: cover;
}
.card_item{
    margin: 5px;
}
.card_product_button{
    font-size: 14px;
    align-self: flex-start;
    margin: 5px;
    padding: 5px 10px; 
    background-color: transparent;
    border: none;
    color: blue;
}
.card_product_container1{
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
.card_item_list{
    width: 97%;
    height: 300px;
    box-shadow: 10px 10px 10px rgba(24, 23, 23, 0.425),-10px -10px 10px rgba(8, 120, 224, 0.1);
    margin: auto;
    margin-bottom: 50px;
    background-color: white;
}
.card_item1{
    display:flex;
}
.card_item1 h2{
    font-size: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.card_item1 h6{
    font-size: 15px;
    margin-left: 15px;
    margin-top:40px;
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
}
.card_list{
    display: inline-block;
}
.card_list img{
    height: 200px;
    width: 200px;
    margin-left: 13px;
}
.card_list1 img{
    height: 200px;
    width: 200px;
}
.card_product_image{
    display: flex;
    justify-content: space-around;
}
.card_product_image img{
    height: 70px;
    width: 70px;
}
.card_product_image1 img:hover{
    border: 2px solid blue;
}
.card_product_img1{
    border: 5px solid blue;
    border-radius: 10px;
}
.card_product_img2{
     border: 2px solid rgba(0, 0, 0, 0.658);
     border-radius: 10px;
}
.card_product1{
    display: flex;
    background-color: white;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 300px;
    box-shadow: -5px -5px 10px rgba(0,0,0,0.1),10px 10px 10px rgba(255,255,255,0.1);
}
iframe{
    width:400px;
     height:200px;
}
footer{
    margin-top: -300px;
}
.footer_container{
    background-color: #0f1111e5;
    color: white;
    display: flex;
    justify-content: space-evenly;
    
}
.footer_container p:hover{
    text-decoration: underline;  
}
.nav-footer-line{
    border: 1px solid white;
}
.nav_footer_item{
    display: flex;
    justify-content: center;
    background-color: #0f1111e5;
}
.footer_button1{
    padding: 5px;
    margin-top: 10px;
    background-color: transparent;
    border: 2px solid white;
    color: white;
}
.image_footer{
     padding: 5px;
    margin-top: 10px;
    margin-right: 30px;
}
.footer_container2{
    display: flex;
    background-color: black;
    color: white;
    justify-content: space-evenly;
}
.footer_container2 h6{
    font-size: 0.9rem;
}
.footer_container3{
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
}
.footer_container4{
    display: flex;
    background-color: black;
    color: white;
    justify-content: center;
}
footer p{
    margin: 3px;
    padding: 0;
}
footer h4{
    margin: 5px;
    padding: 5px;
}
footer h6{
    margin: 0;
    padding: 0;
}


/* Fresh */


.main1{
    margin-left: 270px;
    margin-top: 20px;
    font-size: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 50px;
}
.footer_footer{
    margin-top: 10px;
}
.fresh_image1 img{
    height: 100px;
    width: 100px;
    margin-right: 20px;
    margin-top: 50px;
}
.fresh_image2 img{
    height: 100px;
    width: 140px;
    margin-right: 20px;
    margin-top: 50px;
}
.fresh_image_content{
    display: flex;
    margin-left: 20px;
}
.main_content{
    display: flex;
    height: 200px;
    width: 100%;
    justify-content: center;
}
.card1{
    height: 200px;
    width: 30%;
    border: 2px solid white;
    border-top: 7px solid green;
    background-color: white;
    border-radius: 10px;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.226);
    
}
.card2{
    height: 200px;
    width: 30%;
    border: 2px solid white;
    margin-left: 10px;
    background-color: white;
    border-radius: 10px;
    border-top: 7px solid purple;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.226);
}
.fresh_button{
    padding: 3px 40px;
    background-color: yellow;
    border-radius: 6px;
    border-radius: 100px;
    margin-top: 30px;
}
.fresh_para{
   text-align: center;
   font-size: 1.2rem;
   font-family: sans-serif;
}
.fresh_button1{
    margin-left: 42%;
}
.button1{
    padding: 3px 30px;
    padding-right: 50px;
    
}
.button2{
  border-radius: 100px;
  padding: 3px 30px;
}
.nav_lists ul{
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
    border: 2px solid white;
    border-top: 10px solid green;
    margin: 0;

}
.fresh_list{
    color: rgb(78, 230, 78);
    font-size: 2rem;
    font-family: monospace;
    font-weight: bold;
}
.fresh_list1{
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
}
.section_card{
    height: 100px;
    border: 2px solid green;
    width: 30%;
    margin-top: 10px;
    margin-left: 30px;
    border-radius: 20px;
    
}
.section_card h4{
   color: green;
    font-size: 1.3rem;
    font-family: sans-serif;
    margin: 2px;
    padding: 5px;
    margin-left: 10px;
}
.section_card p{
    font-size: 0.9rem;
    font-family: sans-serif;
    margin: 1px;
    padding: 3px;
    font-weight: 500;
    margin-left: 10px;
}
.fresh_groceries_list img{
    height: 150px;
    width: 150px;
    
}
.fresh_groceries h2{
    margin-left: 25px;
    font-size: 2rem;
    font-family: cursive;
}
.fresh_groceries_list{
    margin: auto;
}
.fresh_groceries{
    height: 400px;
    width: 100%;
    background-color: white;
    margin: auto;
    margin-bottom: 100px;
    box-shadow: 10px 10px 10px rgb(163, 158, 158);
    

}
.fresh_groceries_item{
    display: grid;
    grid-template-columns:250px 250px 250px 250px 250px; 
    gap: 20px; 
    
}
.fresh_meat{
    text-align: center;
    font-size: 2rem;
    font-weight: bolder;
    color: purple;
}
.fresh_side{
    display: flex;
    justify-content:space-between;
}
.fresh_container{
    height: 2070px;
    width: 100%;
    background-color: #FFCFA9;
    margin: auto;
}
.fresh_container h2{
    padding-left: 50px;
    padding-top: 30px;
    font-size: 2rem;
    font-weight: bolder;
}
.fresh_side h4{
    margin-left: 10px;
    font-size: 25px;
}
.fresh_side h6{
    margin-right: 15px;
    color: blue;
    font-size: 13px;
}
.fresh_line{
    border: 1px solid grey;
    margin-top: -20px;
}
.fresh_item{
  margin-top: 20px;
  margin-left: 20px;
}
.polygon{
    height: 30px;
    width: 100px;
    background-color: brown;
    color: white;
    clip-path: polygon(0% 0%, 100% 0%, 70% 100%, 0% 100%, 0% 0%);
}
.polygon p{
 padding: 3px;
}
.polygon1{
    height: 40px;
    width: 50px;
    background-color: brown;
    color: white;
    clip-path: polygon(0% 20%,20% 0%,100% 0%,100% 80%,80% 100%,0% 100%,0% 20%);
}
.polygon1 p{
 padding: 5px;
 margin: 2px;
}
.image_fresh{
    height: 100px;
    width: 70px;
    margin-left: 50px;
    margin-top: -30px;
}
.image_button{
    border-radius: 50px;
    border: 1px solid yellow;
    background-color: yellow;
}
.checked{
    color: orange;
}
.fresh_margin p{
    margin: 1px;
    padding: 1px;
}
.fresh_strike{
    text-decoration: line-through;
    margin-left: 5px;
    color: grey;
}
.fresh_sidee{
    height: 300px;
    width: 250px;
    background-color: #f5f5f5;
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px;
    
}
.fresh_card{
     height: 400px;
     width: 98%;
     margin: auto;
     background-color: white;
     margin-bottom: 30px;
     
}
.fresh_color1{
    color: blue;
}
.fresh_color{
    color: lightgrey;
}
.fresh_card_item{
    display: flex;
    
}
.container_image{
    margin-left: 70px;
}
.container_image img{
    height: 100px;
    width: 100px;
    border-radius: 10px;
}
.image_para{
    margin-left: 25px;
    font-size: 18px;
    font-family: sans-serif;
}
.container_image1{
    display: flex;
}

 
/* Sell */


.sell{
    width: 99%;
    height: 500px;
    background-color: lightgrey;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.sell_content{
    font-size: 70px;
    color: #161d26;
}
.sell_content p{
    margin: 0px;
    padding: 0px;
}
.sell_para{
    font-size: 23px;
}
.sell_image img{
    height: 300px;
    width: 400px;
    margin-top: -130px;
    
}
.sell_button{
    padding: 20px 30px;
    border-radius: 50px;
    color: #161d26;
    background-color: orangered;
    font-size: 20px;
    border: 1px solid orangered;
}
.ima{
    height: 100px;
    width: 100px;
}
.main_para{
    font-size: 50px;
    color: #161d26;
    font-weight: bolder;
    font-family: AEmbModern, Helvetica, Arial, sans-serif;
}
.main_img{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main_card{
    display: flex;
    justify-content: center;
    gap: 30px;
}
 .main_card_content{
    height: 130px;
    width: 300px;
    background-color: #f5f3ef;
 }
 .main_card_content p{
    text-align: center;
    color: #3b4f69;
    margin: 1px;
    padding: 5px 20px;
 }
 .main_first{
    font-weight: bolder;
    font-size: 50px;
    font-family: AEmb, Helvetica, Arial, sans-serif;
 }
 .main_second{
    font-size: 17px;
    font-family: AEmb, Helvetica, Arial, sans-serif;
 }
 .sell_main_image img{
    height: 200px;
    width: 200px;
 }
.sell_image_card{
    height: 300px;
    width: 500px;
    background-color: #f5f3ef;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.sell_item h3{
    text-align: center;
    font-size: 1.5rem;
    font-weight: bolder;
    color: #3b4f69;
    font-family: AEmbModern, Helvetica, Arial, sans-serif;
}
.sell_item p{
    font-size: 20px;
    margin: 0;
    padding: 0;
    color: #232f3e;
    font-family: AEmbModern, Helvetica, Arial, sans-serif;
}
.sell_sell{
    margin-left: 30px;
}
.sell_item .sell_sell1{
    margin-top: 30px;
}
.sell_image_content{
    display: grid;
    grid-template-columns: 500px 500px;
    gap: 20px;
    justify-content: center;
}
.main_button{
    background-color: orangered;
    color: #161d26;
    padding: 5px 20px;
    border-radius: 50px;
    border: 2px solid orangered;
    font-size: 20px;
    margin-left: 530px;
    margin-top: 50px;
}
.main_content_para img{
    height: 50px;
    width: 300px;
}
.sell_image_i img{
    height: 400px;
    width: 200px;
}
.main_container_item{
    display: flex;
    width: 90%;
    background-color: #f5f3ef;
    justify-content: space-evenly;
    margin: auto;
    box-shadow: 10px 10px 10px rgb(122, 118, 118);
}
.main_container_item1{
margin-top: 50px;
}
.main_content_para{
    margin-top: 20px;
}
.main_content_para p{
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.main_content_para h5{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 14px;
}
.seel_span{
 margin-left: 500px;
}
.footer_footer1{
    margin-top: 50px;
}


/* Bestsellers */

.best ul{
    list-style-type: none;
    display: flex;
    gap: 20px;
    align-items: center;
    border-bottom: 2px solid rgba(0, 0, 255, 0.479);
    padding: 2px;
}
.a2{
    margin: 0;
    padding: 0;
    margin-left: 10px;
}
.a2 p{
    color: grey;
    margin-top: -10px;
    font-family: sans-serif;
    font-size: 13px;
}
.aside_new1 p{
    margin: 0;
    padding: 0;
}
.aside_new1 h4{
    margin: 0;
    padding: 0;
}
.aside_container{
    width: 300px;
    background-color: white;
    border-right: 2px solid grey;
}
.aside_container p:hover{
    text-decoration: underline;
}
.bestseller_cards{
    display: flex;
}
.bs_1{
    display: flex;
    gap: 20px;
    justify-content: flex-start;
}
.bs_1 h3{
    font-size: 20px;
}
.bs_1 h6{
    font-size: 12px;
    color: blue;
}
.bs_2 .bs_3{
    height: 30px;
    width: 50px;
    background-color: brown;
    color: white;
    padding: 5px;
    clip-path: polygon(0% 0%, 100% 0%, 70% 100%, 0% 100%, 0% 0%);
}
.bs_2 img{
    height: 150px;
    width: 200px;
}
.bs_2 p{
    color: blue;
    margin: 0;
    padding: 0;
}
.bs_4{
    color: blue;
}
.bs_2 .bs_5{
    color: red;
}
.bs_2 p:hover{
    color: #232f3e;
    text-decoration: underline;
}
.best_container{
    display: flex;
    gap: 25px;
}
.bestseller_container{
    margin-left: 20px;
}
.footer_footer2{
  margin-top: 20px;
}



/* Mobiles */


.aside_Mobile_container h4{
  margin: 0;
  padding: 1px;
}
.aside_Mobile_container p{
  margin: 10px;
  padding: 1px;
}
.aside_Mobile_container input{
  margin: 10px;
  padding: 1px;
}
.aside_Mobile_container{
    border-right: 2px solid grey;
    width: 250px;
}
.mobile_main img{
    height: 60px;
    width: 400px;
    margin-left: 10px;
}
.mobile_container{
    display: flex;
}
.mobile_main1 img{
    height: 200px;
    width: 1050px;
    margin-left: 10px;
}
.mobile_item_list1{
    height: 220px;
    width: 98%;
    background-color: #f5f5f5;
    margin-left: 10px;
}
.mobile_item_list{
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
}
.mobile_item_list img{
    height: 150px;
    width: 150px;
}
.mobile_item_list img:hover{
    height: 150px;
    width: 150px;
    border: 2px solid greenyellow;
}
.main_image_sale img{
    height: 200px;
    width: 98%;
    margin-left: 10px;
    margin-top: 20px;
    margin: auto;
}
.mobile_sale_deal{
    height: 630px;
    width: 98%;
    background-color:white ;
    margin-left: 10px;
}
.mobile_item_list_contain{
    display: flex;
    margin: 0;
    padding: 0;
}
.mobile_item_list_contain img{
    height: 200px;
    width: 176px;
    margin: 0;
    padding: 0;
}
.mobile_item_item img{
    height: 400px;
    width: 98%;
    margin-left: 5px;
}
.mobile_select img{
    width: 98%;
}
.mobile_item_list_contain_1 img{
    height: 200px;
    width: 176.5px;
}
.mobile_item_list_contain_1 img:hover{
    border: 2px solid blue;
}
.mobile_item1 img{
    width: 98%;
    margin-top: 30px;
}
.mobile_poly{
    clip-path: polygon(0% 0%,100% 0%,100% 100%,0% 100%,0% 0%);
    height: 20px;
    width: 70px;
    background-color: brown;  
}
.mobile_item_listed p{
    margin: 0;
    padding: 2px;
    font-size: 15px;;
}
.mobile_item_listed img{
    margin-top: 5px;
}
.mobile_amount{
    font-size: 1.5rem;
}
.mobile_amount1{
    font-size: 0.9rem;
    color: grey;
    margin-left: 2px;
}
.mobile_amount2{
    font-size: 0.9rem;
    color: grey;
    text-decoration: line-through;
}
.mobile_amount3{
    font-size: 1rem;
}
.mobile_amount4{
    color: grey;
}
.mobile_amount5{
 font-weight: bold;
}
.mobile_item_listed img{
    width: 160px;
}
.bestseller_container1{
    margin-top: 30px;
}
.mobile_view button{
    padding: 20px 500px;
    margin-top: 10px;
    background-color: lightgrey;
    border-radius: 10px;
    border: 2px solid lightgrey;
}
.mobile_section p{
  font-size: 1.2rem;
}

.mobile_section h2{
  font-size: 1.8rem;

}
.mobile_section h3{
  font-size: 1.4rem;
}
